/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  align-items: center;
}

img{
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 300px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
